<section id="content">

    <div class="page page-dashboard">

        <div class="pageheader">

            <h2>管理面板 <span></span></h2>

            <div class="page-bar">

                <ul class="page-breadcrumb">
                    <li>
                        <a href="{:url('/admin/welcome')}"  target="iframecontent">><i class="fa fa-home"></i> 起始页</a>
                    </li>
                    <li>
                        <a href="{:url('/admin/welcome')}"  target="iframecontent">>管理面板</a>
                    </li>
                </ul>

                <div class="page-toolbar">
                    <a role="button" tabindex="0" class="btn btn-lightred no-border">
                        <i class="fa fa-calendar"></i>&nbsp;&nbsp;<span>{:date("Y年m月d日")}</span>
                    </a>
                </div>

            </div>

        </div>

        <!-- cards row -->
        <div class="row">
            {foreach $menu as $key => $value}
            <div class="card-container col-lg-3 col-sm-6 col-sm-12">
            <div class="card">
                    <div class="front {$value.bg_color}">

                        <!-- row -->
                        <div class="row">
                            <!-- col -->
                            <div class="col-xs-4">
                                <i class="fa {$value.icon} fa-4x"></i>
                            </div>
                            <!-- /col -->
                            <!-- col -->
                            <div class="col-xs-8">
                                {if isset($value['count'])}
                                <p class="text-elg text-strong mb-0">{$value['count']}</p>
                                {/if}
                                <span>{$value['name']}</span>
                            </div>
                            <!-- /col -->
                        </div>
                        <!-- /row -->
                    </div>

                    <div class="back {$value.bg_color}">

                        <!-- row -->
                        <div class="row">

                            {foreach $value['children'] as $k => $v}
                            <!-- col -->
                            <div class="{$value['css']}">
                                <a href="{:url($v['url'])}"><i class="fa {$v['icon']} fa-2x"></i>{$v['name']}</a>
                            </div>
                            <!-- /col -->
                            {/foreach}
                        </div>
                        <!-- /row -->
                    </div>
                    <!-- <li><a class="ajax-link" href="{:url($v['url'])}" target="iframecontent"><i class="fa fa-caret-right" aria-hidden="true"></i> {$v['name']}</a></li> -->
            </div>
            </div>
            {/foreach}

        </div>
        <!-- /row -->





    </div>


</section>