
<section id="content">

    <div class="page page-fullwidth-layout">

        <div class="pageheader">

            <h2>{$data.module_name}</h2>

            <div class="page-bar">

                <ul class="page-breadcrumb">
                    <li>
                        <a href="{:url('/admin/welcome')}"><i class="fa fa-home"></i> 起始页</a>
                    </li>
                    <li>
                        <a href="{:url($data.module_url)}">{$data.module_name}列表</a>
                    </li>
                </ul>

            </div>

        </div>

        <!-- page content -->
        <div class="pagecontent">

            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-md-12">




                    <!-- tile -->
                    <section class="tile">

                        <!-- tile header -->
                        <div class="tile-header dvd dvd-btm">
                            <h1 class="custom-font"><strong>{$data.module_name}</strong> 列表</h1>
                            <ul class="controls">
                                <li><a href="{:url($data.module_url.'create')}"><i class="fa fa-plus mr-5"></i> 新增</a></li>
                            </ul>
                        </div>
                        <!-- /tile header -->

                        <!-- tile body -->
                        <div class="tile-body">
                           <div class="alert alert-info" style="display:none;">显示一些提示信息</div>

                            <div class="table-responsive">
                                <table class="table table-striped table-hover table-custom" id="products-list">
                                    <thead>
                                        <tr>
                                            <th>公告ID</th>
                                            <th>公告发送类型</th>
                                            <th>模板id</th>
                                            <th>公告状态</th>
                                            <th>发送人</th>
                                            <th>消息类型</th>
                                            <th>消息内容</th>
                                            <th>状态</th>
                                            <th>创建时间</th>
                                            <th>操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {if($list)}
                                            {foreach $list as $item)}
                                            <tr id="tr_{$item->msg_id}">
                                                <td>{$item->msg_id}</td>
                                                <td>{$item->type}</td>
                                                <td>{$item->template_id}</td>
                                                <td>{$item->msg_status}</td>
                                                <td>{$item->uid}</td>
                                                <td>{$item->dialogue_type}</td>
                                                <td>{$item->content}</td>
                                                <td>{if $item->status == 1}正常{else}关闭{/if}</td>
                                                <td>{$item->update_date}</td>
                                                <td><a class="btn btn-info" href="{:url($data.module_url.$item->msg_id)}">
                                                        <i class="glyphicon glyphicon-edit icon-white"></i>
                                                        编辑
                                                    </a></td>
                                            </tr>
                                            {/foreach}
                                        {/if}
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-center">{$list->render()}</div>
                        </div>
                        <!-- /tile body -->

                    </section>
                    <!-- /tile -->

                </div>
                <!-- /col -->
            </div>
            <!-- /row -->




        </div>
        <!-- /page content -->

    </div>

</section>
<!--/ CONTENT -->

